@import '../../../node_modules/bootswatch/cosmo/bootstrap.css';
/*@import 'bootstrap.css';*/
@import 'font-awesome-custom.css';
@import 'app.css';

.list-group-item-editing{
  border-left: 2px solid darkgreen;
}

/*Make ReactCodeMirror component align with Bootstrap*/
.ReactCodeMirror {
  /* Borrowed from Bootstrap textarea styles */
  box-sizing: border-box;
  margin: 0;
  font: inherit;
  overflow: auto;
  font-family: inherit;
  display: block;
  width: 100%;
  padding: 1px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  min-height: 31px;
  height: auto;
}

.ReactCodeMirror .CodeMirror {
  height: auto;
  min-height: 20px;
  color: #555;
  overflow: hidden;
  border: 1px hidden;
}

.ReactCodeMirror .CodeMirror pre.CodeMirror-placeholder {
  color: #999;
}

.spacer-5 {
  margin-bottom: 5px;
}

.spacer-10 {
  margin-bottom: 10px;
}

/*Style for Editor component token matches*/
.cm-highlight-keyword {
  color: #1691C6;
}

.constraint-input .btn {
  height: 31px;
}
